<ion-modal-view>
    <px-modal-header view-title="Due Date"></px-modal-header>
   <ion-view>

     <ion-content class="has-header">
       <form name="dueDateForm">
         <ion-input class="item item-input item-stacked-label">
           <span class="input-label">Reward</span>
           <input type="text"  ng-model="dueDateEdit.reward" required>
         </ion-input>
         <ion-input class="item item-input item-stacked-label">
           <span class="input-label">Forfeit</span>
           <input type="text"  ng-model="dueDateEdit.forfeit" required>
         </ion-input>
         <ion-input class="item item-input item-stacked-label">
           <span class="input-label">Due</span>
           <input type="datetime-local"  ng-model="dueDateEdit.dueDate" required>
         </ion-input>

         <label class="item">
            <button class="button button-block  button-energized"
                  ng-click="dueDateEdit.action()">Save</button>
         </label>
       </form>
     </ion-content>
   </ion-view>
 </ion-modal-view>
