<ion-view>

  <ion-content class="has-header">
    <section class="login-container">
      <h3 class="padding">Reset Password</h3>

      <div class="list list-inset">
        <div ng-if="resetUserPassword.error">
          <label class="item assertive">
            {{ resetUserPassword.error.message }}
          </label>
        </div>
        <div ng-if="resetUserPassword.message">
          <label class="item positive">
            {{ resetUserPassword.message }}
          </label>
        </div>
        <form name="resetPasswordForm">


         <label class="item item-input item-stacked-label">
           <span class="input-label">Password</span>
           <span ng-show="resetPasswordForm.password.$error.required && resetPasswordForm.password.$dirty" class="assertive byline">required</span>
           <span ng-show="!resetPasswordForm.password.$error.required && (resetPasswordForm.password.$error.minlength || resetPasswordForm.password.$error.maxlength) && resetPasswordForm.password.$dirty"
                    class="assertive byline">Passwords must be between 8 and 20 characters.</span>
           <span ng-show="!resetPasswordForm.password.$error.required && !resetPasswordForm.password.$error.minlength && !resetPasswordForm.password.$error.maxlength && resetPasswordForm.password.$error.pattern && resetPasswordForm.password.$dirty"
                    class="assertive byline">Must contain a lower &amp; uppercase letter, and a symbol !@#$%^&*</span>
            <input type="password" id="password" name="password" ng-model="resetUserPassword.credentials.password" ng-minlength="8" ng-maxlength="20"
              ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])/" required  />
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm Password</span>
            <span ng-show="resetPasswordForm.password_c.$error.required && resetPasswordForm.password_c.$dirty" class="assertive byline">Please confirm your password</span>
            <span ng-show="!resetPasswordForm.password_c.$error.required && resetPasswordForm.password_c.$error.noMatch && resetPasswordForm.password.$dirty" class="assertive byline">Passwords do not match.</span>
             <input type="password" id="password_c" name="password_c" ng-model="resetUserPassword.password_c" validate-password required  />
          </label>

          <button class="button button-block  button-energized" ng-click="resetUserPassword.action()"
             ng-disabled="resetPasswordForm.password.$invalid || resetPasswordForm.password_c.$error.noMatch">Save</button>
      	</form>
      </div>
    </section>
  </ion-content>
</ion-view>
