ion-item.item.item-complex.item-accordian {
  padding-top: 0;
  padding-bottom: 0;
  padding-left:16px;
  transition: 0.09s all linear;
  color: #ff00ff;
  display:none;
}

ion-item.item.item-complex.item-accordian.active {
  color: green;
  display:block;
}
