
.draftareadiv {
  padding-left:16px;
}


ion-item.hideSelected {
    background-color: #0000FF;
    color: #00ff00;
    display:none;
}

textarea.draftarea {
  width:100%;
  font-size:16px;
  color:#ff00ff;
}
