.item-avatar-name {  // place name under item-avatar
    position:absolute;
    top:60px;
    left:16px;
    font-weight:bold;
    font-size:10px;
    max-width:50px;
}


.tdshareheader {
  height:162px;
}

.tdbuttonbar {
  height:60px;
}

.buttons.tdsharebutton {
  position:absolute;
  top:16px;
  right:8px;
}

.tdtitlename {
    max-width:   95%;
}


.tddetailname {
  height:60px;
  overflow-y:scroll;
}


td-card {
    position: absolute;
    //top: calc( 50vh - 300px ) !important;
    margin: 5px 0 40px -150px;
    left:50%;
    //  left: calc( 50vw-300px ) !important;
    width: 300px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    border-radius: 10px;
  //  color: #fff;
    border-style:solid;
    border-width:1px;
}

.taskDetail {
  border: 1px solid #001F3F !important;
}
.taskEdit {
  border: 1px solid #7FDBFF !important;
}

.tdSelect {
  border: 10px solid #FFF !important;
}
.tdSelect .input-label {
    color: #000;
}

td-card img.taskPhoto {
    width: 100%;
    //height: 258px;
}

td-card .item-input input {
    width: 95%;
}


td-card  input[type="text"], input[type="datetime"], input[type="datetime-local"]  {
    display: block;
    padding-top: 2px;
    padding-left: 5px;
    height: 34px;
    color: #ff00ff;
    vertical-align: middle;
    font-size: 14px;
    line-height: 16px;
}

td-card  textarea  {
    display: block;
    padding-top: 2px;
    padding-left: 5px;
    height: 34px;
    color: #ff00ff;
    vertical-align: middle;
    font-size: 18px;
    line-height: 16px;
}


textarea[disabled] {
  background-color: inherit;
}


td-card .title-font input[type="textarea"]  {
    font-size: 18px;
}

td-card .input-label  {
    color: #fff;
}

td-card .item-stacked-label input, .item-stacked-label textarea  {
    border-radius: 2px;
    border: none;
    background-color: #fff;
}

td-card .item-stacked-label .input-label, .item-stacked-label .icon {
    display: inline-block;
    padding-bottom: 5px;
    vertical-align: middle;
}
