<ion-view title="draftList">

  <ion-content class="has-header  myDraftList">
    <div ng-show="draftList.showCreate">
      <i ng-click="draftList.hideCreate()" class="icon padding-right ion-ios-close-outline assertive" style="float:right"></i>
      <div class="draftareadiv">
        <form name="createForm" style="clear:both">
          <textarea chat-input msd-elastic id="createInputField" ng-model="draftList.taskName"
                on-return="draftList.create()" on-blur="draftList.create()"
                class="draftarea" placeholder="describe your Promise">
          </textarea>
          <a ng-show="draftList.taskName.length>0" ng-click="draftList.saveAndOpenTaskEdit()" class="byline">Set By When - Reward - Forfeit</a>
        </form>
      </div>
    </div>

    <ion-refresher on-refresh="draftList.action()" on-pulling="draftList.onPulling()" pulling-text="{{draftList.pullingText}}">
    </ion-refresher>
    <ion-item on-swipe-up="draftList.onSwipeUp()" ng-click="draftList.action()"
          class="text-center white" ng-class="draftList.showEdit ? 'bg-purple' : 'bg-fuchsia'">{{draftList.helpMessage}}<i class="padding silver ion-arrow-down-c"></i>
    </ion-item>


    <empty-list list="draftList.tasks" text="You do not have any draft Promises"></empty-list>
    <div ng-show="draftList.showEdit">
      <i ng-click="draftList.hideEdit()" class="icon padding-right ion-ios-close-outline assertive" style="float:right"></i>
      <div class="draftareadiv">
        <form name="editForm" style="clear:both">
          <!-- chat-input -->
          <textarea chat-input msd-elastic id="editInputField"   ng-model="draftList.editTask.name"
              on-focus="draftList.focusEdit()" on-blur="draftList.update()" on-return="draftList.update()"
              class="draftarea" placeholder="describe your Promise">
          </textarea>

          <div ng-click="draftList.openEdit($event, draftList.editTask)" style="cursor: pointer;">
            <due-date date="draftList.editTask.dueDate"></due-date>
            <div style="font-size:80%">
              <font class="royal">By When - Reward - Forfeit - Actions</font>
            </div>
            <div ng-if="draftList.editTask!=null">
              <status-icons task="draftList.editTask" ng-if="draftList.isShowIcons()"></status-icons>
            </div>
          </div>
        </form>
      </div>
    </div>

    <ion-list>
      <ion-item ng-repeat="task in draftList.tasks track by task._id" ng-click="draftList.openEdit($event,task)" class="item-text-wrap"
            ng-class="draftList.isSelected(task) ? 'hideSelected' : ''">
        <span>
          <h2 ng-click="draftList.editName($event,task)">{{task.name}}</h2>
        </span>
        <div>
          <due-date date="task.dueDate"></due-date>
          <div style="font-size:80%">
            <font class="royal">By When - Reward - Forfeit - Actions</font>
          </div>
        </div>
        <status-icons task="task" ng-if="draftList.isShowIcons()"></status-icons>


        <task-accept task="task"></task-accept>
        <task-delete task="task"></task-delete>
        <task-share task="task"></task-share>
        <task-request task="task"></task-request>
        <task-offline task="task"></task-offline>

        <!--
<ion-option-button ng-disabled="true" class="button-royal">Share</ion-option-button>
<ion-option-button ng-disabled="true" class="button-calm">Request</ion-option-button>
<task-delete task="task"></task-delete>
-->
        <!--
        <ion-option-button class="button-positive">Teatime</ion-option-button>
      -->
      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
