<ion-side-menu side="right" is-enabled="true" delegate-handle="sidemenuHandle">
  <ion-header-bar class="expanded">
  </ion-header-bar>
  <ion-content class="has-expanded-header">
    <avatar menu-close ng-if="sidemenu.isLoggedIn" user="sidemenu.currentUser"></avatar>
    <ion-list>

      <div ng-if="sidemenu.isLoggedIn && sidemenu.currentUser.services.password">
        <ion-item menu-close ui-sref="tab.editprofile">Profile</ion-item>
        <ion-item menu-close ui-sref="tab.changepassword">Change Password</ion-item>
      </div>

      <div ng-if="sidemenu.settings.public.features.completedList">
        <ion-item menu-close ng-show="sidemenu.isLoggedIn" ui-sref="tab.completedList">Completed Promises</ion-item>
      </div>
      <div ng-if="sidemenu.settings.public.features.kudosList">
        <ion-item menu-close ng-show="sidemenu.isLoggedIn" ui-sref="tab.kudosList">Completed Watches/Kudos</ion-item>
      </div>


      <auth></auth>
    </ion-list>

  </ion-content>
</ion-side-menu>
