<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content scroll="false" class="has-header">
      <td-cards>
        <td-card  class="bg-aqua taskEdit" on-destroy="chatsAdd.destroy()" on-swipe-left="chatsAdd.action()" on-swipe-right="chatsAdd.action()">
        <div class="tdshareheader">
            <div class="tdbuttonbar padding">
                <div class="padding-top">
                  <b><due-date date="chatsAdd.task.dueDate" color="pink" before-color="maroon"></due-date></b>
                </div>
                <div class="buttons tdsharebutton">
                  <button ng-disabled="chatsAdd.selected.length==0" class="button button-small button-assertive" ng-click="chatsAdd.action()">{{chatsAdd.buttonLabel}}</button>
                </div>
            </div>
            <ion-input class="item item-input">
              <textarea readonly ng-model="chatsAdd.task.name" class="tdtitlename"></textarea>
            </ion-input>
            <div class="padding">
            <ion-scroll zooming="true" direction="y" style="width: 300px; height: 60px">

              <span ng-repeat="user in chatsAdd.displayUsers track by user._id">
                  <img  class="friend-picture" ng-src="{{chatsAdd.getPhotoUrl(user)}}" title="{{user.profile.name}}" ng-click="chatsAdd.remove(user)"/>
              </span>

              <div ng-if="chatsAdd.selected.length==0" class="padding white">Add your friends...</div>
            </ion-scroll>
          </div>

          </div>

          <ion-scroll zooming="true" direction="y" style="height: 400px">
                <div class="list padding">
                  <div ng-repeat="user in chatsAdd.users" class="item item-avatar bg-aqua" ng-click="chatsAdd.clicked(user)" ng-class="{ active: user.selected }">
                      <img  ng-src="{{chatsAdd.getPhotoUrl(user)}}"/>
                      <h2>{{user.profile.name}}</h2>
                  </div>
                </div>
          </ion-scroll>
        </td-card>

        <td-card style="visibility:hidden">
          <div>Need this extra td-card otherwise the first td-card won't "fly away"</div>
        </td-card>

      </td-cards>

  </ion-content>
</ion-view>

</ion-modal-view>
