<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content scroll="false" class="has-header">
        <td-card class="bg-aqua taskEdit">
          <div class="tdshareheader">
            <div class="tdbuttonbar padding">
                <div class="padding-top">
                  <b><due-date date="chatsAdd.task.dueDate" color="pink" before-color="maroon"></due-date></b>
                </div>
                <div class="buttons tdsharebutton">
                  <button ng-disabled="chatsAdd.selected.length==0" class="button button-small button-assertive" ng-click="chatsAdd.action()">Share</button>
                </div>
            </div>
            <ion-input class="item item-input">
              <textarea readonly ng-model="chatsAdd.task.name" class="tdtitlename"></textarea>
            </ion-input>

            <ion-scroll zooming="true" direction="y" style="width: 300px; height: 60px" class="padding">
              <user-list class="padding" ng-if="chatsAdd.selected.length>0" user-ids="chatsAdd.displayUserIds"></user-list>
              <div ng-if="chatsAdd.selected.length==0" class="padding white">Add your friends...</div>
            </ion-scroll>


          </div>

          <ion-scroll zooming="true" direction="y" style="height: 400px">
                <div class="list padding">
                  <div ng-repeat="user in chatsAdd.users" class="item item-avatar bg-aqua" ng-click="chatsAdd.clicked(user)" ng-class="{ active: user.selected }">
                      <img  ng-src="{{chatsAdd.getPhotoUrl(user)}}"/>
                      <h2>{{user.profile.name}}</h2>
                  </div>
                </div>
          </ion-scroll>
        </td-card>

  </ion-content>
</ion-view>

</ion-modal-view>
