<ion-view>
  <ion-content class="has-header">
    <h3 class="padding">Notifications</h3>
    <empty-list list="notifications.tasks" text="Coming soon.."></empty-list>
    <!--
    <ion-list>
        <ion-item ng-repeat="task in watchList.tasks" class="item-text-wrap" ng-click="watchList.openDetail($event,task)">
        {{task.name}}
        <due-date date="task.dueDate"></due-date>
        <status-icons task="task" show-area="true"></status-icons>

        <watch-list-options task="task" button-style="option"></watch-list-options>
      </ion-item>
    </ion-list>
  -->


  </ion-content>
</ion-view>
