<ion-view title="igloo">

  <ion-content class="has-header">
    <section class="login-container">
      <h3 class="padding">Reset Password</h3>


      <div class="list list-inset">
        <div ng-show="password.error">
          <label class="item assertive">
            {{ password.error.message }}
          </label>
        </div>

        <div ng-show="password.message">
          <label class="item positive">
            {{ password.message }}
          </label>
        </div>

        <form name="resetForm">
          <label class="item item-input item-stacked-label">
            <span class="input-label">Email</span>
            <span ng-show="loginForm.email.$touched && !loginForm.email.$valid" class="assertive">Please enter an email</span>
            <input type="email" name="email" ng-model="password.credentials.email" placeholder="email" aria-label="email" required/>
          </label>
          <label class="item">
            <button class="button button-block  button-energized" aria-label="reset" ng-click="password.reset()" ng-disabled="resetForm.$invalid">Send Email</button>
          
          </label>
        </form>
      </div>
      <div class="item">
        <a href="/login">Sign in</a>
      </div>
    </section>
  </ion-content>
</ion-view>
