<ion-side-menus enable-menu-with-back-views="false" delegate-handle="sideMenuHandle">
  <ion-side-menu-content drag-content="false">

    <ion-nav-bar class="bar-positive">
      <ion-nav-buttons side="left">
        <meteor-status></meteor-status>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button side="right" class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>

    <ion-nav-view name="mainContent"></ion-nav-view>
  </ion-side-menu-content>

  <!--Left Side Menu directive-->
  <sidemenu></sidemenu>


</ion-side-menus>
