<div class="item-avatar">
  <img ng-src="{{ groupRequest.photoUrl }}"/>
  <div class="item-avatar-name">{{groupRequest.name}}</div>
  <h2>{{groupRequest.task.name}}</h2>
  <due-date date="groupRequest.task.dueDate" color="navy"></due-date>
  <div class="royal">
    <i class="ion-plus"> show more</i>
    <i class="icon ion-person-stalker padding-right" style="font-size:20px"></i>{{groupRequest.sharedWith()}}
    <i class="icon ion-radio-waves assertive padding-right"></i><font class="assertive">Request</font>
  </div>
</div>
