<div>
  <font class="positive">{{statusIcons.task.status}}</font>
  <span ng-show="statusIcons.task.status=='ACTIVE'">ENSHRINED</span>
  <span ng-show="statusIcons.statusHelper.isPendingAck(statusIcons.task)">Pending Ack</span>
  <span ng-show="statusIcons.statusHelper.isAcknowledged(statusIcons.task)">Acked by:<font class="navy">{{statusIcons.lastAck()}}</font></span>
  <span ng-if="statusIcons.isOfferStage()">
    <i class="icon ion-ios-loop-strong positive" ng-show="statusIcons.isEdited()"></i>
    by:<font class="positive">{{statusIcons.lastEditor()}}</font>
    <i  ng-if="statusIcons.myTurn" class="icon ion-ios-cart-outline padding-left positive" style="font-size:20px"></i>
  </span>
</div>

<div>
  <!--
<span ng-show="statusIcons.isSharedWithMe()" class="royal">Creator:{{statusIcons.creatorName()}}</span>
-->
  <span ng-if="statusIcons.isShared()" class="royal">
  with - {{statusIcons.sharedWith()}}
</span>


  <i class="icon ion-ios-locked" ng-show="statusIcons.statusHelper.isPrivateTask(statusIcons.task)"></i>
  <i class="icon ion-ios-person royal" ng-show="statusIcons.statusHelper.isCreator(statusIcons.task)"></i>
  <i class="icon ion-ios-box positive" ng-show="statusIcons.statusHelper.isCompleted(statusIcons.task)"></i>


  <span ng-if="statusIcons.canEditArea()" class="padding-right" style="float:right">
    <a ng-click="statusIcons.openArea($event,statusIcons.task)">{{statusIcons.getAreaLabel()}}</a>
  </span>
  <span ng-if="!statusIcons.canEditArea()" class="padding-right" style="float:right">
   {{statusIcons.task.area}}
 </span>

  <span ng-if="statusIcons.canEditValue()" class="padding-right" style="float:right">
    <a ng-click="statusIcons.openValue($event,statusIcons.task)">{{statusIcons.getValueLabel()}}</a>
  </span>
  <span ng-if="!statusIcons.canEditValue()" class="padding-right" style="float:right">
    Value {{statusIcons.task.value}}
  </span>

  <div ng-show="statusIcons.showChat()">
    <div ng-if="statusIcons.hasMessage()" class="maroon byline">
      <b>{{statusIcons.lastChatUser()}}</b>:
      <font style="font-style:italic">{{statusIcons.task.lastMessage.text}}</font>

      <span ng-show="!statusIcons.isRecentMessage()" class="gray">{{statusIcons.task.lastMessage.timestamp | amDateFormat: 'D.M.YYYY HH:MM:SS' }}</span>
      <span ng-show="statusIcons.isRecentMessage()" class="gray" am-time-ago="statusIcons.task.lastMessage.timestamp"></span>
    </div>
  </div>
</div>
