<div class="royal">
  <div style="float:left">
    <font>{{statusIcons.task.status}}</font>
    <span ng-show="statusIcons.task.status=='ACTIVE'">ENSHRINED</span>
    <span class="positive padding-right" ng-show="statusIcons.task.isCompleted()"> COMPLETED {{statusIcons.task.completedDate | amDateFormat:'D.M.YYYY'}}</span>
    <i class="icon ion-ios-box positive padding-right" ng-show="statusIcons.task.isArchived()"> ARCHIVED {{statusIcons.task.completedDate | amDateFormat:'D.M.YYYY'}}</i>

    <span ng-show="statusIcons.statusHelper.isPendingAck(statusIcons.task)">Pending Acknowledgement</span>
    <span ng-if="statusIcons.task.isAcknowledged()">Acknowleged by<font class="navy"> {{statusIcons.lastAck()}}</font></span>
    <span ng-if="statusIcons.hasCounterOffer()">
      <span class="positive">Countered</span>
    </span>
  </div>
  <div style="clear:both"></div>
  <div style="float:left">
    <span ng-if="statusIcons.task.isCreator() && statusIcons.task.hasParticipants()" class="padding-right">
      <i ng-if="statusIcons.task.hasManyParticipants()" class="icon ion-person-stalker" style="font-size:20px"></i>
      <i ng-if="statusIcons.task.hasOneParticipant()" class="icon ion-person" style="font-size:20px"></i>
      {{statusIcons.statusHelper.sharedWith(statusIcons.task)}}
    </span>
    <i ng-if="statusIcons.task.isRequest()" class="icon ion-radio-waves assertive">Request</i>
  </div>
  <div style="float:right">
    <span ng-if="statusIcons.canEditArea()" class="padding-right">
      <a ng-click="statusIcons.openArea($event,statusIcons.task)">{{statusIcons.getAreaLabel()}}</a>
    </span>
    <span ng-if="!statusIcons.canEditArea() && statusIcons.task.hasArea()" class="padding-right">
      {{statusIcons.task.area}}
    </span>

    <span ng-if="statusIcons.canEditValue()" class="padding-right">
      <a ng-click="statusIcons.openValue($event,statusIcons.task)">{{statusIcons.getValueLabel()}}</a>
    </span>
    <span ng-if="!statusIcons.canEditValue() && statusIcons.task.hasValue()" class="padding-right">
      Value {{statusIcons.task.value}}
    </span>
  </div>
</div>
