<div>
<i class="icon ion-ios-locked"  ng-show="statusIcons.statusHelper.isPrivateTask(statusIcons.task)"></i>
<i class="icon ion-ios-person royal" ng-show="statusIcons.statusHelper.isCreator(statusIcons.task)"></i>
<i class="icon ion-ios-box positive" ng-show="statusIcons.statusHelper.isCompleted(statusIcons.task)"></i>

<font style="color:green">{{statusIcons.task.status}}</font>
<span ng-show="statusIcons.task.status=='ACTIVE'">ENSHRINED</span>
<i class="icon ion-thumbsup calm" ng-show="statusIcons.statusHelper.isPendingAck(statusIcons.task)">Pending Ack</i>
<i class="icon ion-thumbsup calm" ng-show="statusIcons.statusHelper.isAcknowledged(statusIcons.task)">Acked by:<font style="color:blue">{{statusIcons.lastAck()}}</font></i>

<span ng-show="statusIcons.isSharedWithMe()" class="royal">Creator:{{statusIcons.creatorName()}}</span>
<span ng-show="statusIcons.isShared()" class="royal">tag:{{statusIcons.sharedWith()}}</span>

<span ng-show="statusIcons.isOfferStage()">
  <i class="icon ion-ios-loop-strong positive" ng-show="statusIcons.isEdited()"></i>
  by:<font style="color:red">{{statusIcons.lastEditor()}}</font>
</span>
<span ng-show="statusIcons.editArea=='true' || statusIcons.showArea=='true'">
  <span ng-show="statusIcons.editArea=='true'" style="float:right">
    <a ng-click="statusIcons.openArea($event,statusIcons.task)">{{statusIcons.getAreaLabel()}}</a>
  </span>
  <span ng-show="statusIcons.showArea=='true' && statusIcons.task.area!=null" style="float:right">
    {{statusIcons.task.area}}
  </span>
  <span style="clear:both"></span>
</span>
</div>
<!--
<div ng-show="statusIcons.hasMessage()" class="royal">
  {{statusIcons.lastChatUser()}}:<font style="font-style:italic">{{statusIcons.task.lastMessage.text}}</font>
</div>
-->
