
<span ng-if="!taskShare.isButton()">
  <ion-option-button  class="button-balanced" ng-show="taskShare.show()"  ng-click="taskShare.action()">Share</ion-option-button>
</span>

<span ng-if="taskShare.isButton()">
<button class="button button-balanced" ng-disabled="taskShare.disable()" ng-show="taskShare.show()" ng-click="taskShare.action()">Share</button>
</span>


<!-- Fake
<span ng-if="!taskShare.isButton()">
  <ion-option-button  ng-disabled="true" class="button-energized">Share</ion-option-button>
</span>

<span ng-if="taskShare.isButton()">
<button  class="button button-energized" ng-disabled="true">Share</button>
</span>
-->
