<ion-view>

  <ion-content class="has-header">
    <section class="login-container">
      <h3 class="padding">Change Password</h3>

      <div class="list list-inset">
        <div ng-if="changePassword.error">
          <label class="item assertive">
            {{ changePassword.error.message }}
          </label>
        </div>
        <div ng-if="changePassword.message">
          <label class="item positive">
            {{ changePassword.message }}
          </label>
        </div>
        <form name="changePasswordForm">

          <label class="item item-input item-stacked-label">
            <span class="input-label">Old Password</span>
            <span ng-show="changePasswordForm.oldpassword.$error.required && changePasswordForm.oldpassword.$dirty" class="assertive byline">required</span>
             <input type="password" id="oldpassword" name="oldpassword" ng-model="changePassword.oldpassword" required  />
           </label>

         <label class="item item-input item-stacked-label">
           <span class="input-label">New Password</span>
           <span ng-show="changePasswordForm.password.$error.required && changePasswordForm.password.$dirty" class="assertive byline">required</span>
           <span ng-show="!changePasswordForm.password.$error.required && (changePasswordForm.password.$error.minlength || changePasswordForm.password.$error.maxlength) && changePasswordForm.password.$dirty"
                    class="assertive byline">Passwords must be between 8 and 20 characters.</span>
           <span ng-show="!changePasswordForm.password.$error.required && !changePasswordForm.password.$error.minlength && !changePasswordForm.password.$error.maxlength && changePasswordForm.password.$error.pattern && changePasswordForm.password.$dirty"
                    class="assertive byline">Must contain a lower &amp; uppercase letter, and a symbol !@#$%^&*</span>
            <input type="password" id="password" name="password" ng-model="changePassword.credentials.password" ng-minlength="8" ng-maxlength="20"
              ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#\$%\^&\*])/" required  />
          </label>


          <label class="item item-input item-stacked-label">
            <span class="input-label">Confirm Password</span>
            <span ng-show="changePasswordForm.password_c.$error.required && changePasswordForm.password_c.$dirty" class="assertive byline">Please confirm your password</span>
            <span ng-show="!changePasswordForm.password_c.$error.required && changePasswordForm.password_c.$error.noMatch && changePasswordForm.password.$dirty" class="assertive byline">Passwords do not match.</span>
             <input type="password" id="password_c" name="password_c" ng-model="changePassword.password_c" validate-password required  />
          </label>

          <button class="button button-block  button-energized" ng-click="changePassword.action()"
             ng-disabled="changePasswordForm.password.$invalid || changePasswordForm.password_c.$error.noMatch">Save</button>
      	</form>
      </div>
    </section>
  </ion-content>
</ion-view>
