<font class="white">RequestView</font>
<div class="buttonoptions">

<task-chat        task="requestViewOptions.task" button-style="{{requestViewOptions.buttonStyle}}"></task-chat>
<task-accept      task="requestViewOptions.task" button-style="{{requestViewOptions.buttonStyle}}"></task-accept>
<task-decline     task="requestViewOptions.task" button-style="{{requestViewOptions.buttonStyle}}"></task-decline>
<task-offer       task="requestViewOptions.task" button-style="{{requestViewOptions.buttonStyle}}"></task-offer>
<task-delete      task="requestViewOptions.task" button-style="{{requestViewOptions.buttonStyle}}"></task-delete>
<task-offline     task="requestViewOptions.task" button-style="{{requestViewOptions.buttonStyle}}"></task-offline>
<task-acknowledge task="requestViewOptions.task" button-style="{{requestViewOptions.buttonStyle}}"></task-acknowledge>

<!--
<ion-option-button class="button-positive">Teatime</ion-option-button>
-->
</div>
