
<task-chat task="watchListOptions.task" button-style="{{watchListOptions.buttonStyle}}"></task-chat>
<task-accept task="watchListOptions.task" button-style="{{watchListOptions.buttonStyle}}"></task-accept>
<task-decline task="watchListOptions.task" button-style="{{watchListOptions.buttonStyle}}"></task-decline>
<task-offer task="watchListOptions.task" button-style="{{watchListOptions.buttonStyle}}"></task-offer>
<task-acknowledge task="watchListOptions.task" button-style="{{watchListOptions.buttonStyle}}"></task-acknowledge>
<task-offline task="watchListOptions.task" button-style="{{watchListOptions.buttonStyle}}"></task-offline>
<!--
<ion-option-button class="button-positive">Teatime</ion-option-button>
-->
