<ion-modal-view>
    <px-modal-header view-title="{{areaEdit.currTask.name}}"></px-modal-header>
   <ion-view>

     <ion-content class="has-header">
       <form name="areaForm">
         <ion-input class="item item-input item-select">
           <div class = "input-label">
             Area
           </div>

           <select  ng-model="areaEdit.currTask.area">
             <option>Career</option>
             <option>Health</option>
             <option>Finances</option>
             <option>Family</option>
             <option>Friends</option>
             <option>Leisure</option>
             <option>Love</option>
             <option>Misc</option>
          </select>
         </ion-input>

         <label class="item">
            <button class="button button-block  button-energized"
                  ng-click="areaEdit.action()">Save</button>
         </label>
       </form>
     </ion-content>
   </ion-view>
 </ion-modal-view>
