<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content class="has-header">
      <td-cards>
      <td-card  class="bg-aqua taskEdit" on-destroy="taskEdit.destroy()" on-swipe-left="taskEdit.share()" on-swipe-right="taskEdit.request()">
        <div class="list">

          <div ng-click="taskEdit.taskEditService.closeModal();" class="white padding" style="float:right">Close</div>

          <form name="editForm" style="clear:both">
            <ion-input class="item item-input item-stacked-label">
              <span class="input-label">By When</span>
              <div class="byline item-text-wrap padding-bottom">
                <span ng-show="taskEdit.task.dueDate==null" class="blue">To Accept or Share, you need to specify a Due Date</span>
                <span ng-show="editForm.dueDate.$invalid" class="assertive"><b>Must be a future date!</b></span>
                <a href="#" ng-click="taskEdit.setDefaultDueDate()">Next Week</a>
              </div>
              <input focus-me name="dueDate" type="datetime-local" ng-min="taskEdit.minDate" ng-model="taskEdit.task.dueDate">
            </ion-input>

            <div ng-if="taskEdit.dateOnly==false">
              <div class="padding"></div>
              <ion-input class="item item-input">
                <textarea msd-elastic ng-model="taskEdit.task.name" class="requestView pink">
                </textarea>
              </ion-input>
              <ion-input class="item item-input item-stacked-label">
                <span class="input-label">Reward</span>
                <input class="orange" type="text" name="reward" ng-model="taskEdit.task.reward" />
              </ion-input>
              <ion-input class="item item-input item-stacked-label">
                <span class="input-label">Forfeit</span>
                <input type="text" name="forfeit" ng-model="taskEdit.task.forfeit" />
              </ion-input>
            </div>

            <div class="padding text-center buttonoptions">
              <button ng-disabled="editForm.dueDate.$invalid" class="button button-energized" ng-click="taskEdit.save()">Save</button>
              <task-share ng-show="taskEdit.showAllOptions" task="taskEdit.task" button-style="button" close="true"></task-share>
              <task-request ng-show="taskEdit.showAllOptions" task="taskEdit.task" button-style="button" close="true"></task-request>
              <task-accept ng-show="taskEdit.showAllOptions" task="taskEdit.task" button-style="button" close="true"></task-accept>
              <task-delete ng-show="taskEdit.showAllOptions" task="taskEdit.task" button-style="button" close="true"></task-delete>
            </div>

          </form>
        </div>

      </td-card>
      <td-card style="visibility:hidden">
        <div>Need this extra td-card otherwise the first td-card won't "fly away"</div>
      </td-card>

    </td-cards>

    </ion-content>
  </ion-view>
</ion-modal-view>
