<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content class="has-header">
      <td-cards>
      <td-card drag="false" class="tdSelect" >
       <form name="areaForm">

           <ion-input class="item item-input item-select">
             <div class = "input-label">
               Area
             </div>

             <select  ng-model="editArea.currTask.area" ng-change="editArea.action()">
               <option>Career</option>
               <option>Health</option>
               <option>Finances</option>
               <option>Family</option>
               <option>Friends</option>
               <option>Leisure</option>
               <option>Love</option>
               <option>Misc</option>
            </select>
          </ion-input>

       </form>
     </td-card>
   </td-cards>
     </ion-content>
   </ion-view>
 </ion-modal-view>
