<ion-modal-view>
    <px-modal-header view-title="{{valueEdit.currTask.name}}"></px-modal-header>
   <ion-view>

     <ion-content class="has-header">
       <form name="areaForm">
         <ion-input class="item item-input item-select">
           <div class = "input-label">
             Value
           </div>

           <select  ng-model="valueEdit.currTask.value">
             <option value="1">Ermm...</option>
             <option value="2">Waking Up</option>
             <option value="3">Good Stuff</option>
             <option value="4">Yeah Baby</option>
             <option value="5">Awesome</option>
             <option value="6">Hero</option>
             <option value="7">Legend</option>
          </select>
         </ion-input>

         <label class="item">
            <button class="button button-block  button-energized"
                  ng-click="valueEdit.action()">Save</button>
         </label>
       </form>
     </ion-content>
   </ion-view>
 </ion-modal-view>
