<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content class="has-header">

      <td-card class="tdSelect">
       <form name="valueForm">
         <ion-input class="item item-input item-select">
           <div class = "input-label">
             Value
           </div>

           <select  ng-model="valueEdit.currTask.value" ng-change="valueEdit.action()">
             <option value="1">Ermm...</option>
             <option value="2">Waking Up</option>
             <option value="3">Good Stuff</option>
             <option value="4">Yeah Baby</option>
             <option value="5">Awesome</option>
             <option value="6">Hero</option>
             <option value="7">Legend</option>
          </select>
         </ion-input>

       </form>
     </td-card>
     </ion-content>
   </ion-view>
 </ion-modal-view>
