<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content class="has-header">
      <td-card  class="bg-navy taskDetail">

        <div class="padding">
          <div class="white" style="float:left"><h3 class="white">{{taskDetail.typeLabel}}</h3></div>
          <div class="white" style="float:right" ng-click="taskDetail.hide()">Close</div>
          <div style="clear:both"></div>
        </div>
        <img class="taskPhoto" ng-src="{{taskDetail.creatorPhoto}}">

        <div class="padding" ng-class="taskDetail.task.isRequest ? 'bg-maroon' : 'bg-blue'">
            <h3 class="yellow">{{taskDetail.creator.profile.name}}</h3>
            <div class="yellow tddetailname">{{taskDetail.task.name}}</div>

            <div class="white" style="float:left"  ng-if="taskDetail.task.area!=null">{{taskDetail.task.area}}</div>
            <div class="white" style="float:right" ng-if="taskDetail.task.value!=null">Value {{taskDetail.task.value}}</div>
            <div style="clear:both"></div>

            <div ng-if="taskDetail.task.reward!=null">
              <div class="white padding-top">Reward</div>
              <div class="yellow">{{taskDetail.task.reward}}</div>
            </div>
            <div ng-if="taskDetail.task.forfeit!=null">
              <div class="white padding-top">Forfeit</div>
              <div class="yellow">{{taskDetail.task.forfeit}}</div>
            </div>
            <user-list user-ids="taskDetail.task.userIds"></user-list>
            <div class="padding-top">
              <div class="white padding-top">Due</div>
              <div class="aqua" style="float:left"><due-date date="taskDetail.task.dueDate" color="white" before-color="white" after-color="yellow"></due-date></div>
              <div class="white" style="float:right">{{taskDetail.task.status}}</div>
            </div>
            <div style="clear:both"></div>
        </div>

        <div class="padding text-center">
              <watch-list-options ng-if="taskDetail.showWatchListOptions()" task="taskDetail.task" button-style="button"></watch-list-options>
              <promise-list-options ng-if="taskDetail.showPromiseListOptions()" task="taskDetail.task" button-style="button"></promise-list-options>
        </div>
      </td-card>

    </ion-content>
  </ion-view>

</ion-modal-view>
