<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content class="has-header">
      <td-card class="bg-navy taskDetail">
          <i ng-click="taskDetail.hide()" class="icon padding ion-ios-close-outline white"  style="float:right"></i>
          <div style="clear:both"></div>
          <img ng-src="{{taskDetail.creatorPhoto}}" width="200px" height="200px">
          <div class="padding bg-blue">
            <h3 class="yellow">{{taskDetail.creator.profile.name}}</h3>
            <div class="yellow">{{taskDetail.task.name}}</div>
            <div class="padding-top">
              <div class="aqua" style="float:left">Due {{taskDetail.task.dueDate | amDateFormat:'DD/MM/YYYY, h:mm:ss a'}}</div>
              <div class="white" style="float:right">{{taskDetail.task.area}}</div>
            </div>
            <div style="clear:both"></div>
            <div class="white" style="float:left">{{taskDetail.task.status}}</div>
            <div class="white" style="float:right">Value {{taskDetail.task.value}}</div>

            <div class="yellow" style="clear:both">Reward</div>
            <div class="white">{{taskDetail.task.reward}}</div>
            <div class="yellow" style="clear:both">Forfeit</div>
            <div class="white">{{taskDetail.task.forfeit}}</div>


          </div>

          <div class="padding text-center">
              <watch-list-options ng-if="taskDetail.showWatchListOptions()" task="taskDetail.task" button-style="button"></watch-list-options>
              <promise-list-options ng-if="taskDetail.showPromiseListOptions()" task="taskDetail.task" button-style="button"></promise-list-options>
          </div>

      </td-card>


    </ion-content>
  </ion-view>

</ion-modal-view>
