<div class="buttonoptions">

<task-chat task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-chat>
<task-accept task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-accept>
<task-decline task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-decline>
<task-offer task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-offer>
<task-acknowledge task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-acknowledge>
<task-done task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-done>
<task-not-done task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-not-done>
<task-revoke task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-revoke>
<task-unrevoke task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-unrevoke>
<task-delete task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-delete>
<task-complete task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-complete>
<task-archive task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-archive>
<task-social task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-social>
<task-offline task="promiseListOptions.task" button-style="{{promiseListOptions.buttonStyle}}"></task-offline>

<!--
<ion-option-button class="button-positive">Teatime</ion-option-button>
-->
</div>
