<ion-view title="igloo">

  <ion-content class="has-header">
    <h3 class="padding" >Profile Photo</h3>
    <div ng-if="photo.error">
      <label class="item assertive">
        {{ photo.error.message }}
      </label>
    </div>


    <form>
      <ion-input class="item">
        <input type="file" id="fileToUpload" accept="image/*">
        <button class="button button-calm" ng-click="photo.action()">Upload</button>
      </ion-input>
    </form>


    <div class="item item-stacked-label">
      <span>{{photo.progress}}% Complete</span>
      <div class="progress">
        <div class="progressbar" style="width:{{photo.progress}}%"></div>
      </div>
    </div>
    <div ng-if="photo.currentUser.profile.photo">
      <div class="item item-avatar">
        <img class="avatar-picture" src="{{photo.currentUser.profile.photo}}"/>
        <h2>{{photo.currentUser.profile.name}}</h2>
        <p>{{photo.currentUser.profile.photo}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
