<div class="item">
  <div ng-if="photo.error">
    <label class="item item-text-wrap assertive">
      {{ photo.error.message }}
    </label>
  </div>

  <form>
      <ion-input>
        <input type="file" id="fileToUpload" accept="image/*">
      </ion-input>
      <div class="padding">
        <button class="button button-calm button-small" ng-click="photo.action()">Upload</button>
      </div>
      <div class="padding">
        <div class="progress">
          <div class="progressbar" style="width:{{photo.progress}}%">
            <span>{{photo.progress}}% Complete</span>
          </div>
        </div>
      </div>
  </form>


  <div ng-if="photo.isProfilePhoto()">
    <div class="item item-avatar">
      <img class="avatar-picture" src="{{photo.currentUser.profile.photo}}" />
      <h2>{{photo.currentUser.profile.name}}</h2>
      <p>{{photo.currentUser.profile.photo}}</p>
    </div>
  </div>
</div>
<!--
<div ng-if="photo.isTaskPhoto()">
  <div class="item item-avatar">
    <img class="avatar-picture" src="{{photo.task.photo}}" />
    <h2>{{photo.task.name}}</h2>
    <p>{{photo.task.photo}}</p>
  </div>
</div>
-->
