<ion-view title="completedList">

  <ion-content class="has-header">
    <ion-item>
      <div style="display:inline;padding-right:5px">Completed Promises</div>
      <!--
      <div class="red" style="display:inline">Contains DONE Promises and other Archived Promises</div>
    -->
    </ion-item>

    <empty-list list="completedList.tasks" text="You do not have any completed Promises"></empty-list>

    <ion-list>
      <ion-item ng-repeat="task in completedList.tasks track by task._id" class="item-text-wrap" ng-click="completedList.openDetail($event,task)">
        {{task.name}}
        <status-icons task="task" edit-area="true"></status-icons>
        <div style="clear:both"></div>
        <!--
        <ion-option-button ng-show="false" class="button-positive">Teatime</ion-option-button>
        -->
        <promise-list-options task="task"></promise-list-options>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
