<ion-modal-view>

  <ion-view>
    <px-modal-header view-title="{{chat.task.name}}"></px-modal-header>
  <ion-content class="chat has-header" delegate-handle="chatScroll">
    <div class="message-list">
      <div ng-repeat="message in chat.messages" class="message-wrapper">
        <div class="message" ng-class="message.userId === $root.currentUser._id ? 'message-mine' : 'message-other'">
          <div><img ng-src="{{chat.getPhotoUrl(message.userId)}}" class="chat-picture">
              <b class="maroon">{{ chat.getName(message.userId) }}</b>
          </div>
          <div class="text">{{ message.text }}</div>
          <div class="message-timestamp">{{ message.timestamp | amDateFormat: 'DD.MM.YYYY HH:MM:SS' }}</div>

          <!--
          <div class="message-timestamp" am-time-ago="message.timestamp"></div>
        -->
        </div>

    </div>
  </div>
  </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable footer-chat item-input-inset">
    <label class="item-input-wrapper">
      <input chat-input
              ng-model="chat.message"
              dir="auto"
              type="text"
              on-return="chat.sendMessage(); chat.closeKeyboard()"
              on-focus="chat.inputUp()"
              placeholder="Type a message..."
              on-blur="chat.inputDown()"/>
    </label>

    <button ng-click="chat.sendMessage()"  class="button button-clear button-positive">Send</button>

  </ion-footer-bar>


</ion-view>
</ion-modal-view>
