<ion-view>
  <ion-content class="has-header">
    <ion-item>
      <div style="display:inline;padding-right:5px">Watching</div><div class="red" style="display:inline">Promises I am watching, Requests I have sent & Requests for me to do something</div>
    </ion-item>

    <empty-list list="requestList.tasks" text="You do not have any Requests and you are not watching any Promises"></empty-list>
    <ion-list>

    <div ng-repeat="task in requestList.tasks  track by task._id">
<!--
      <ion-item>
        <div> {{task}}</div>
      </ion-item>
-->
      <div class="item" ng-if="task.isRequestHeader()" ng-click="requestList.toggleGroup(task)" ng-class="{active: requestList.isGroupShown(task)}">
          <group-request task="task"></group-request>
      </div>

      <ion-item  ng-if="task.isRequestHeader()==false" ng-click="requestList.openDetail($event,task)"
                class="item-text-wrap ion-icon-right"  ng-class="{'item-accordian' : requestList.isBelongToGroup(task), 'active': requestList.isGroupShown(task)}">
          <user-request ng-if="task.isRequest()" task="task"></user-request>
          <user-promise ng-if="task.isPromise()" task="task"></user-promise>
          <ion-option-button ng-show="false">Teatime</ion-option-button>
          <promise-list-options task="task" button-style="option"></promise-list-options>
      </ion-item>

    </div>

    </ion-list>


  </ion-content>
</ion-view>
