<ion-modal-view class="bg-transparent">

  <ion-view class="bg-transparent">
    <ion-content class="has-header">

<td-cards>
<td-card class="bg-navy"  on-destroy="promiseView.destroy()" on-swipe-left="promiseView.accept()" on-swipe-right="promiseView.reject()">

  <div class="padding">
    <div class="white" style="float:left">
      <h3 class="white">Promise</h3></div>
      <button  style="float:right" class="button button-small button-assertive"  ng-click="promiseView.service.closeModal()">Close</button>
      <div style="clear:both"></div>
  </div>

  <img ng-show="promiseView.task.photo==null" class="taskPhoto" ng-src="{{promiseView.creatorPhoto}}">
  <img ng-show="promiseView.task.hasPhoto()" class="taskPhoto" ng-src="{{promiseView.task.photo}}">
  <div>
    <i ng-click="promiseView.togglePhotoUpload()" style="float:right" class="icon padding-right ion-ios-camera-outline white" ></i>
    <div style="clear:both">
      <photo  ng-show="promiseView.photoUpload==true" photo-type="task" task="promiseView.task"></photo>
    </div>
  </div>

  <div class="padding" ng-class="promiseView.task.isRequest ? 'bg-maroon' : 'bg-blue'">
    <edit-comment task="promiseView.task"></edit-comment>
    <div class="promiser yellow">{{promiseView.creator.profile.name}}</div>

    <textarea msd-elastic ng-model="promiseView.task.name" class="taskName padding-top yellow">
    </textarea>

    <div class="white" style="float:left" ng-show="promiseView.task.hasArea()">{{promiseView.task.area}}</div>
    <div class="white" style="float:right" ng-show="promiseView.task.hasValue()">Value {{promiseView.task.value}}</div>
    <div style="clear:both"></div>

    <div ng-show="promiseView.task.hasReward()">
      <div class="white padding-top">Reward</div>
      <div class="yellow">{{promiseView.task.reward}}</div>
    </div>
    <div ng-show="promiseView.task.hasForfeit()">
      <div class="white padding-top">Forfeit</div>
      <div class="yellow">{{promiseView.task.forfeit}}</div>
    </div>
    <div class="padding-top">
      <user-list color="white" user-ids="promiseView.task.userIds"></user-list>
    </div>
    <div class="padding-top">
      <div class="white padding-top">Due</div>
      <div class="aqua" style="float:left">
        <due-date date="promiseView.task.dueDate" color="yellow" before-color="yellow" after-color="yellow"></due-date>
      </div>
      <div class="white" style="float:right">{{promiseView.task.status}}</div>
    </div>
    <div style="clear:both"></div>
  </div>

  <div class="padding text-center">

  <promise-list-options ng-if="promiseView.task.isCreator()" task="promiseView.task" button-style="button"></promise-list-options>

  <request-view-options ng-if="promiseView.task.isParticipant()" task="promiseView.task"  button-style="button">
    ng-if="promiseView.service.isRequestViewOptions()"></request-view-options>

  </div>
</td-card>

<td-card style="visibility:hidden">
  <div>Need this extra td-card otherwise the first td-card won't "fly away"</div>
</td-card>

</td-cards>


    </ion-content>
  </ion-view>

</ion-modal-view>
